%h1
  = submit
  отделение
.content
  - form_for @bankunit do |form|
    = form.error_messages
    %table.card
      %tr
        %th
          = form.label "МФО"
        %td= form.text_field :mfo
      %tr
        %th
          = form.label "Название"
        %td= form.text_field :name
      %tr
        %th
          = form.label "Населенный пункт"
        %td= collection_select :bankunit, :city_id, City.all, :id, :name_rus
      %tr
        %th
          = form.label "Адрес"
        %td= form.text_field :address
      %tr
        %th
          = form.label "Телефон"
        %td= form.text_field :phone
      %tr
        %th
          = form.label "Руководитель"
        %td= form.text_field :manager
      %tr
        %th
          = form.label "Широта"
        %td= form.text_field :lat
      %tr
        %th
          = form.label "Долгота"
        %td= form.text_field :long
    %br
  
    = submit_tag submit
