# coding: utf-8

= render :partial => 'main_data'
%h1 ИЗВЕЩЕНИЕ
.content
  - s = 0.00
  - form_for "line[]", @debts, :url => {:action => "order_print", :id => @human.id, :period_id => @debts[0].id_period, :format => 'pdf'} do |f| 
    %table.card
      %tr  
        %th Услуга
        %th Долг
        %th Начислено 
        %th Сумма
        %th Тариф
        %th Счетчик
        %th Последнее
        %th Предыдущее
        %th Разность
      - for @debt in @debts do
        %tr
          %td= @debt.utility.to_utf
          %td= @debt.sum_dolg.to_utf
          %td= @debt.sum_month.to_utf 
          - s = s+@debt.sum_month.to_f
          - @debt.sum_month = number_to_currency(@debt.sum_month.to_f, :unit => "")
          - if (@debt.code_utility.to_i == 8 or @debt.code_utility.to_i == 20 or @debt.code_utility.to_i == 21 or @debt.code_utility.to_i == 39) 
            %td
              %div{:id => 'sum_'+@debt.id_bankbook_utility.to_s}
                - for b in @bankbooks do
                  - for bu in b.bankbook_utilities do
                    - delta = 0
                    - for c in bu.counters do 
                      - if @debt.id_bankbook_utility == c.bankbook_utility_id
                        - crs = c.counter_readings.all :order => "date DESC"
                        - if crs.size==1
                          - delta = delta + crs[0].value
                        - else
                          - delta = delta + (crs[0].value - crs[1].value)
                        - @debt.sum_month = number_to_currency(delta * @debt.tarif, :unit => "")
                          
                = text_field :debt, :sum_month, :index => @debt.id, :size => 5
            %td= @debt.tarif.to_f
            -#= render :partial => 'update_3counters'
            - for b in @bankbooks do
              - for bu in b.bankbook_utilities do
                - for c in bu.counters do 
                  - if @debt.id_bankbook_utility == c.bankbook_utility_id
                    %tr
                      %td{:colspan => 5}
                      %td= c.description.to_utf
                      - crs = c.counter_readings.all :order => "date DESC"
                      %td= crs[0].value
                      - delta = crs[0].value
                      - if crs.size==1
                        %td= 0
                      - else
                        %td= crs[1].value
                        - delta = crs[0].value - crs[1].value
                      %td= delta
                      %td= link_to "Показания", :controller => "counter_readings", :action => 'index', :counter_id => c.id
          - else 
            %td
              %div{:id => 'sum_'+@debt.id_bankbook_utility.to_s}
                = text_field :debt, :sum_month, :index => @debt.id, :size => 5
      %tr
        %td{:colspan => 3}= "ИТОГО "
        %td= number_to_currency(s, :unit => "грн.", :format => "%n %u")
     
    %br    
      = submit_tag "Распечатать"  

    