%h1 Введите свои данные
.content
  - form_tag humans_path, :metod => 'get' do
    %table.card
      %tr
        %th Населенный пункт:
        %td= select(:city, :id, City.find(:all, :conditions => ["lastGenErcCode>0"]).map {|c| [c.name_rus, c.id]} )
      %tr
        %th Код плательщика:
        %td= text_field_tag :code_erc, params[:code_erc]
    = submit_tag "Просмотреть информацию"
    
    %h3 Введите свои данные
    .content
      - form_for :human, :url => { :controller => "payers", :action => "search" }, :method => "get" do 
        %table
          %tr
            %th= "Населенный пункт:"
            %td= select(:city, :id, City.find(:all, :conditions => ["id_parent in (select id from cities where lastGenErcCode>0) and id_parent != 0 and id_type > 0"], :order => :name_rus).map {|c| [c.name_rus.to_utf, c.id]} )
          %tr
            %th= "Код плательщика:"
            %td= text_field_tag :code_erc, params[:code_erc], :size => 9
          %tr
            %th= "Номер дома:"
            %td= text_field_tag :home, params[:home], :size => 5
          %tr 
            %th= "Номер квартиры:"
            %td= text_field_tag :room, params[:room], :size => 5 
        = submit_tag "Найти"
    