= render :partial => 'main_data'
%h1 Плательщики за #{@period.description.to_utf}
.content
  %table.card
    %tr
      %th Фирма
      %th Счет
      %th Плательщик
      %th Владелец 
      %th Телефон
      %th Жильцов
    - for bb in @bankbooks do
      - for ha in bb.bankbook_attributes_humans do
        -if ha.id_period_begin <= @period.id and ha.id_period >= @period.id
          %tr
            %td= link_to bb.code_firm.to_s, :controller => 'firms', :action => 'show', :id => bb.code_firm
            %td= bb.bank_book.to_utf
            %td= ha.full_name.to_utf
            %td= ha.full_name_owner.to_utf
            %td= ha.phone
            %td= ha.resident_number
= render :partial => 'bottom_data'            