%h1 Вход в систему
 
- form_for :user_session, @user_session, :url => user_session_path do |f|
  %br
  = f.label "Логин"
  %br
  = f.text_field :login 
  %br
  = f.label "Пароль"
  %br
  = f.password_field :password
  %br
  -#= f.check_box :remember_me
  -#= f.label "Запомнить меня в системе"
  %br
  = f.submit "Войти"
  %br
  = link_to "Зарегистрироваться в системе", new_user_path
  %br
  -#Forgot password? Click
  -#= link_to "here", send_reset_link_path
  -#to restore it.
