# coding: utf-8
!!! strict
%html
  %head
    %title Oschadbank
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://code.jquery.com/jquery-1.5.js', 'rails', 'application'
    = csrf_meta_tag


  %body
  #header
    %h1 Донецкое областное управление Ощадбанка
  #search
    
    #navigation
      %br
      #tabs
        %ul
          - if not true
            = render :partial => 'layouts/menuItem', :collection => [ |
              ['Login', new_user_session_url]                        |
            ] |
            -
          - else
            %div{'style' => "float: left;"}
              = render :partial => 'layouts/menuItem', :collection => [ |
                ['Города', cities_path],     |
                ['Организации', firms_path],     |
                ['Подразделения', bankunits_path],            |
                ['Долги', (current_user ? {:controller => "payers", :action => "show", :id => current_user.id_human} : new_user_session_url)],            |
                ['УТиСЗН', (current_user and (current_user.login == 'admin') ? {:controller => "cities", :action => "index_active_cities"} : new_user_session_url)],            |
                ['Квитанции',  orders_path] |
              ] |
            - 
            -##div{'style' => "float: left;margin-left: 30px"}
              -#= render :partial => 'layouts/menuItem', :collection => [ |
              -#['Услуги', new_user_session_url],            |
                -#['УТиСЗН', (current_user and (current_user.login == 'admin') ? {:controller => "cities", :action => "index_active_cities"} : new_user_session_url)]            |
                -#['Domains', '#'], |
                -#['Google apps', '#'], |
                -#['Other', '#'] |
              -#] |
            -#-
            %div{'style' => "float: right;"}
              = csrf_meta_tag
              = render :partial => 'layouts/menuItem', :collection => [               |
                ['Ваш профиль', profile_path],                               |
                ['Admin settings', settings_path, nil, (!current_user or !current_user.admin?)], |
                ['Выход', user_session_path, { :method => :delete }]         |
              ] |
            -

    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "flash_#{key}"
      %div{'style' => "clear: both;"}
      &nbsp;
      = yield
      %div{'style' => "clear: both;"}
    #footer
